<h1>Item</h1>
<button (click)="addItem()">add</button>
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">name</th>
    <th scope="col">unit</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of items; index as i">
    <th scope="row">{{ i + 1 }}</th>
    <td>
      <input [(ngModel)]="item.name" [disabled]="disabled[i]">
    </td>
    <td>
      <select [(ngModel)]="item.unit" [disabled]="disabled[i]" (ngModelChange)="foo(item)">
        <option [ngValue]="u" *ngFor="let u of units">{{u.name}}</option>
      </select>

    </td>
    <td>
      <button (click)="makeEnabled(i)" *ngIf="disabled[i]">edit</button>
      <button (click)="save(i)" *ngIf="!disabled[i]">save</button>
    </td>
    <td>
      <button (click)="delete(i)" [disabled]="!disabled[i]">usuń</button>
    </td>
  </tr>
  </tbody>
</table>
