<h1>Contractor</h1>
<button (click)="addContractor()">add</button>
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">name</th>
    <th scope="col">address</th>
    <th scope="col">edit</th>
    <th scope="col">delete</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let contractor of contractors; index as i">
    <th scope="row">{{ i + 1 }}</th>
    <td>
      <input [(ngModel)]="contractor.name" [disabled]="disabled[i]">
    </td>
    <td><input [(ngModel)]="contractor.address" [disabled]="disabled[i]"></td>
    <td>
      <button (click)="makeEnabled(i)" *ngIf="disabled[i]">edit</button>
      <button (click)="save(i)" *ngIf="!disabled[i]">save</button>
    </td>
    <td>
      <button (click)="delete(i)" [disabled]="!disabled[i]">usuń</button>
    </td>
  </tr>
  </tbody>
</table>
