<h1>Contractor</h1>
<div class="form-group">
  <label>name:</label>
  <input [(ngModel)]="newContractor.name" class="form-control" />
</div>
<div class="form-group">
  <label>address:</label>
  <input [(ngModel)]="newContractor.address" class="form-control" />
</div>

<button (click)="addContractor()" class="btn btn-secondary">add</button>
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">name</th>
    <th scope="col">address</th>
    <th scope="col">edit</th>
    <th scope="col">delete</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let contractor of contractors; index as i">
    <th scope="row">{{ i + 1 }}</th>
    <td>
      <input [(ngModel)]="contractor.name" [disabled]="disabled[i]" class="form-control">
    </td>
    <td><input [(ngModel)]="contractor.address" [disabled]="disabled[i]" class="form-control"></td>
    <td>
      <button (click)="makeEnabled(i)" *ngIf="disabled[i]" class="btn btn-secondary">edit</button>
      <button (click)="save(i)" *ngIf="!disabled[i]" class="btn btn-primary">save</button>
    </td>
    <td>
      <button (click)="delete(i)" [disabled]="!disabled[i]" class="btn btn-danger">usuń</button>
    </td>
  </tr>
  </tbody>
</table>
